@import "../../styles/colors.scss";

.product-group {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  align-items: center;

  h2 {
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
  }
  .product-list {
    display: flex;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}
