$primary-color: #16a085;
$primary-color-light: #60d8ba;
$accent-color: #a87ad5;

$black-dark: #2c3e50;
$black-medium: #34495e;
$black-light: #dcdde1;

$white: #fff;
$white-accent: #fafafa;
$white-shade: #f8f8f8;
