@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

html {
  font-size: 16px; // <- min required for accessibility
  font-family: "Source Sans Pro", sans-serif;
}
