html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  padding: none;
  margin: none;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
