.product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  border: 0;
  border-radius: 4px;
  margin: 10px;
  align-items: center;
  transition: all 0.2s ease-in;

  @media only screen and (max-width: 600px) {
    width: 80vw;
  }

  &:hover {
    box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  }

  img {
    height: 300px;
    width: 150px;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
