@import "../../styles/colors.scss";

.header-wrapper {
  min-height: 100px;
  height: 100px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03),
    0 20px 40px 10px rgba(224, 224, 224, 0.2);
  border: 0;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .logo {
    font-size: 2rem;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    align-items: center;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: $primary-color;
    transition: all 0.2s ease-in;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    &:hover {
      color: $primary-color-light;
    }
  }

  ul.nav-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    > li {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 600px) {
        display: none;
        margin-bottom: 10px;
      }

      > button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        border-radius: 20px;
        background-color: $primary-color-light;
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          background-color: $primary-color;
        }

        &.contact {
          background-repeat: no-repeat;
          background-size: 1rem;
          background-position: left 1rem center;
        }
      }
    }
  }
}
