@import "../../styles/colors.scss";

.loader {
  border: 2px solid $black-light;
  border-top-color: $primary-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search-wrapper {
  width: 40%;
  min-width: 400px;
  font-size: 1.2rem;
  position: relative;

  @media only screen and (max-width: 600px) {
    width: 95vw;
  }

  //   border: 1px solid red;

  input {
    width: 100%;
    font-size: inherit;
    padding: 0 4rem;
    line-height: 3.5rem;
    border-radius: 10px;
    background-color: $white-shade;
    border: 2px solid transparent;

    background-image: url(../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: left 1rem center;
    transition: all 0.2s ease-in;

    @media only screen and (max-width: 600px) {
     background-color: $black-light;
    }

    &:focus {
      border-color: $black-light;
    }
    &.dropdown-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }
  }
  .search-dropdown-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100%);
    max-height: 400px;
    min-height: 0px;
    z-index: 2;
    background: $white-shade;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
    transition: all 0.2s ease-in;
    border: 2px solid transparent;
    border-top: none;

    &.visible {
      border: 2px solid $black-light;
      border-top: none;
    }

    .result-item {
      padding: 10px;
      font-size: 1rem;
      width: 100%;
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
    }
    .no-data {
      text-align: center;
      padding: 20px;
      font-size: 1rem;
    }
  }
}
