@import "./styles/reset.scss";
@import "./styles/colors.scss";
@import "./styles/fonts.scss";

.app-wrapper {
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;

  .body-wrapper {
    height: 100%;
    overflow-y: scroll;
  }
}

.loader{
  @media only screen and (max-width: 600px) {
    margin: 100px auto;
  }
}
